/* Custom overrides */
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 100px; /* Allow minimum height without restricting expansion */
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.507);

  background-color: #fffdfd;
  backdrop-filter: blur(6px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Custom navbar-brand css */
.my-brand.navbar-brand{
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}

.my-brand.navbar-brand:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.navbar-brand {
  font-family: 'Cinzel', serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
}
.nav-link {
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
}



